@font-face {
  font-family: fontGame;
  src: url("./assets/Pony.ttf");
}

.gameOneTwoThree {
  font-family: fontGame;
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* background-position: center; */
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;

  background-position: left top;
  color: white;
}
.container {
  width: 90%;
  margin: 80px auto;
  text-align: center;
}
p {
  font-size: 30px;
}
button {
  border-radius: 15px;
  border: 3px solid transparent;
  margin: 0 5px;
}
button:hover {
  border-color: green;
}

.footerGame {
  position: fixed;
  /* top: 150px; */
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footerGame img {
  object-fit: cover;
}

/* assets */
.speech-bubble {
  position: relative;
  background: #45d994;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: #45d994;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
}
